.question-container {
  padding: 20px;
  text-align: center;
}
.question-statement {
  font-size: 24px;
}
.option {
  flex-direction: column;
  align-items: flex-start;
}
.onClick {
  background-color: brown;
}
